<a href="https://colab.research.google.com/github/JayeMineM/DJSc_w3schools-database/blob/master/SQLite3_dumbW3schData_PandasReadSql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
conn=sqlite3.connect(':memory:')
c=conn.cursor()

# Create ```Table_name``` & Dumb DATA from SQLfile in DJSc-Github_fork

https://github.com/JayeMineM/DJSc_w3schools-database/blob/master/w3schools.sql

In [2]:
#c.execute("DROP TABLE 'Categories'") #uncommment post-Table Creation
c.execute("CREATE TABLE `Categories` (`CategoryID` int(11) NOT NULL,`CategoryName` varchar(255) DEFAULT NULL,`Description` varchar(255) DEFAULT NULL)")

In [3]:
# confirming table creation
c.execute("SELECT name from sqlite_master")
c.fetchone()

('Categories',)

In [4]:
import pandas as pd
df=pd.read_sql('SELECT * FROM Categories',conn)

In [5]:
df

Empty DataFrame
Columns: [CategoryID, CategoryName, Description]
Index: []

In [6]:
#defCat=pd.read_sql_table('Categories',conn)

## Create ```Categories``` table  & Dumb values
```
INSERT INTO `categories` (`CategoryID`, `CategoryName`, `Description`) VALUES
(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
(2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
(3, 'Confections', 'Desserts, candies, and sweet breads'),
(4, 'Dairy Products', 'Cheeses'),
(5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
(6, 'Meat/Poultry', 'Prepared meats'),
(7, 'Produce', 'Dried fruit and bean curd'),
(8, 'Seafood', 'Seaweed and fish');
```

In [7]:
#values to dumb
datCateg=[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
(2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
(3, 'Confections', 'Desserts, candies, and sweet breads'),
(4, 'Dairy Products', 'Cheeses'),
(5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
(6, 'Meat/Poultry', 'Prepared meats'),
(7, 'Produce', 'Dried fruit and bean curd'),
(8, 'Seafood', 'Seaweed and fish')]
#empty table if not the case
c.execute("DELETE FROM `Categories`")
#insert values in table Categories
c.executemany("INSERT INTO `Categories`VALUES (?,?,?)",datCateg)
conn.commit()

In [8]:
dfCateg=pd.read_sql('SELECT * FROM Categories',conn)
dfCateg

,CategoryID,CategoryName,Description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"
5,6,Meat/Poultry,Prepared meats
6,7,Produce,Dried fruit and bean curd
7,8,Seafood,Seaweed and fish

In [9]:
dfCateg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CategoryID    8 non-null      int64
 1   CategoryName  8 non-null      object
 2   Description   8 non-null      object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes

In [10]:
dfCateg.columns

Index(['CategoryID', 'CategoryName', 'Description'], dtype='object')

In [11]:
len(dfCateg.columns)

3

## SAMPLES

```
#values to dumb
datCateg=[]
#empty table if not the case
c.execute("DELETE FROM `Categories`")
#insert values in table Categories
c.executemany("INSERT INTO `Categories`VALUES (?,?,?)",datCateg)
conn.commit()
```

```
#c.execute("DROP TABLE 'Customers' ") #Uncommemt once table created
c.execute("CREATE TABLE ' table_name' (...))

c.execute("SELECT name from squilte_master")
c.fetchall()

```

```
#values to dumb
datCust=[]
#empty table if not the case
c.execute("DELETE FROM `Customers`")
#insert values in table Categories
c.executemany("INSERT INTO `Customers`VALUES (?,?,?)",datCust)
conn.commit()
```

In [12]:
# Written DJSc_procedure to dumb values
def dumbValues(table_name, dat_table):
  c.execute("DELETE FROM `"+table_name+"`") # syntax for table_Name as parameter/argumenjt in function/procedure
  #empty table if not the case
  c.execute("DELETE FROM "+table_name+"")
  #insert values in table table_name
  c.executemany("INSERT INTO "+table_name+" VALUES (?,?,?)", dat_table)
  conn.commit()
  dfTab=pd.read_sql("SELECT * FROM "+table_name+"",conn)
  return dfTab

In [13]:
dumbValues('Categories',datCateg)

,CategoryID,CategoryName,Description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"
5,6,Meat/Poultry,Prepared meats
6,7,Produce,Dried fruit and bean curd
7,8,Seafood,Seaweed and fish

In [14]:
c.executemany(f"INSERT INTO Customers VALUES ({qmark})", dat_table)

NameError: name 'qmark' is not defined

### dumbValues_qmark
```
# Written DJSc_procedure to dumb values (with qmark)
def dumbValues_qmark(table_name,qmark, dat_table):
  c.execute("DELETE FROM `"+table_name+"`") # syntax for table_Name as parameter/argumenjt in function/procedure
  #empty table if not the case
  c.execute("DELETE FROM "+table_name+"")
  #insert values in table table_name
  c.executemany("INSERT INTO "+table_name+" VALUES ({})".format(qmark), dat_table)
  conn.commit()
  dfTab=pd.read_sql("SELECT * FROM "+table_name+"",conn)
  return dfTab
  ```

In [ ]:
# Written DJSc_procedure to dumb values (with qmark)
def dumbValues_qmark(table_name,qmark, dat_table):
  #c.execute("DELETE FROM `"+table_name+"`") # syntax for table_Name as parameter/argument in function/procedure
  #empty table if not the case
  c.execute("DELETE FROM "+table_name+"")
  #insert values in table table_name
  c.executemany("INSERT INTO "+table_name+" VALUES ({})".format(qmark), dat_table)
  conn.commit()
  dfTab=pd.read_sql("SELECT * FROM "+table_name+"",conn)
  return dfTab

In [ ]:
qmark_dfCateg=",".join("?"*len(dfCateg.columns))
qmark_dfCateg

In [ ]:
dumbValues_qmark('Categories' ,qmark_dfCateg, datCateg)

## Create ```Customers``` table  & Dumb values
step_1) Create table & count columns
```
#c.execute("DROP TABLE 'Customers' ") #Uncommemt once table created
c.execute("CREATE TABLE ' table_name' (...))
```
>TABLE `customers` (
  `CustomerID` int(11) NOT NULL,
  `CustomerName` varchar(255) DEFAULT NULL,
  `ContactName` varchar(255) DEFAULT NULL,
  `Address` varchar(255) DEFAULT NULL,
  `City` varchar(255) DEFAULT NULL,
  `PostalCode` varchar(255) DEFAULT NULL,
  `Country` varchar(255) DEFAULT NULL)

```
colCount_dfCust=len(dfCust.columns)
colCount_dfCust
```

step_2) Confirm table creation & retrieve qmark [i.e  amount of ```'?'``` at ```VALUES(?,?...,?)``` ]
```
c.execute("SELECT name from squilte_master")
c.fetchall()
```
```
qmark=",".join('?'*colCount_dfCust) # placeholders SQL injection proof
qmark
```

step_3) Values to dumb
```
datTab=[(...),...,(...)]
```

step_4) Use written DJSc_procedure/function ```dumbValues_qmark()``` to dumb values
```
# Written DJSc_procedure to dumb values (with qmark)
def dumbValues_qmark(table_name,qmark, dat_table):
  c.execute("DELETE FROM `"+table_name+"`") # syntax for table_Name as parameter/argumenjt in function/procedure
  #empty table if not the case
  c.execute("DELETE FROM "+table_name+"")
  #insert values in table table_name
  c.executemany("INSERT INTO "+table_name+" VALUES ({})".format(qmark), dat_table)
  conn.commit()
  dfTab=pd.read_sql("SELECT * FROM "+table_name+"",conn)
  return dfTab
  ```

### step_1) Create table & Count Column

In [ ]:
c.execute("DROP TABLE 'Customers' ") #Uncommemt once table created
c.execute("CREATE TABLE `Customers` (`CustomerID` int(11) NOT NULL,`CustomerName` varchar(255) DEFAULT NULL,`ContactName` varchar(255) DEFAULT NULL,`Address` varchar(255) DEFAULT NULL,`City` varchar(255) DEFAULT NULL,`PostalCode` varchar(255) DEFAULT NULL,`Country` varchar(255) DEFAULT NULL)")

In [ ]:
dfCust=pd.read_sql('SELECT * FROM Customers',conn)
dfCust

In [ ]:
dfCust.columns

In [ ]:
colCount_dfCust=len(dfCust.columns)
colCount_dfCust

### step_2) Confirm table creation & retrieve qmark [i.e  amount of ```'?'``` at ```VALUES(?,?...,?)``` ]

In [ ]:
c.execute("SELECT name from sqlite_master")
#c.fetchone()
#c.fetchmany()
c.fetchall()

In [ ]:
qmark=",".join('?'*colCount_dfCust) # placeholders SQL injection proof
qmark

In [ ]:
#Sample values to dumb
samplCust=[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')]

In [ ]:
print("INSERT INTO Customers VALUES({})".format(qmark))

In [ ]:
c.executemany("INSERT INTO 'Customers' VALUES(?,?,?,?,?,?,?)", samplCust)

In [ ]:
c.executemany("INSERT INTO Customers VALUES({})".format(qmark), samplCust)
#alternatively below... BUT above is Adequate to qmark formatting
#c.executemany(f"INSERT INTO Customers VALUES({qmark})", samplCust)

### step_3) Values to dumb

In [ ]:
#values to dumb
datCust=[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '05021', 'Mexico'),
(3, 'Antonio Moreno Taquera', 'Antonio Moreno', 'Mataderos 2312', 'Mxico D.F.', '05023', 'Mexico'),
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
(5, 'Berglunds snabbkp', 'Christina Berglund', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden'),
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
(7, 'Blondel pre et fils', 'Frdrique Citeaux', '24, place Klber', 'Strasbourg', '67000', 'France'),
(8, 'Blido Comidas preparadas', 'Martn Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
(9, 'Bon app\'', 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
(11, 'B\'s Beverages', 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'),
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'Mxico D.F.', '05022', 'Mexico'),
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland'),
(15, 'Comrcio Mineiro', 'Pedro Afonso', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil'),
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France'),
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'),
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil'),
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain'),
(23, 'Folies gourmandes', 'Martine Ranc', '184, chausse de Tournai', 'Lille', '59000', 'France'),
(24, 'Folk och f HB', 'Maria Larsson', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden'),
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany'),
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France'),
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy'),
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal'),
(29, 'Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23', 'Barcelona', '08022', 'Spain'),
(30, 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
(31, 'Gourmet Lanchonetes', 'Andr Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'),
(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
(33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela'),
(34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil'),
(35, 'HILARIN-Abastos', 'Carlos Hernndez', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela'),
(36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
(37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', '', 'Ireland'),
(38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
(39, 'Kniglich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany'),
(40, 'La corne d\'abondance', 'Daniel Tonini', '67, avenue de l\'Europe', 'Versailles', '78000', 'France'),
(41, 'La maison d\'Asie', 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France'),
(42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada'),
(43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
(44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany'),
(45, 'Let\'s Stop N Shop', 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
(46, 'LILA-Supermercado', 'Carlos Gonzlez', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela'),
(47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela'),
(48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
(49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy'),
(50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium'),
(51, 'Mre Paillarde', 'Jean Fresnire', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada'),
(52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '04179', 'Germany'),
(53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
(54, 'Ocano Atlntico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina'),
(55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
(56, 'Ottilies Kseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany'),
(57, 'Paris spcialits', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'),
(58, 'Pericles Comidas clsicas', 'Guillermo Fernndez', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', '05033', 'Mexico'),
(59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria'),
(60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal'),
(61, 'Que Delcia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
(62, 'Queen Cozinha', 'Lcia Carvalho', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil'),
(63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstrae 10', 'Cunewalde', '01307', 'Germany'),
(64, 'Rancho grande', 'Sergio Gutirrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina'),
(65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
(66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy'),
(67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'),
(68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland'),
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Va, 1', 'Madrid', '28001', 'Spain'),
(70, 'Sant Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway'),
(71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
(72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
(73, 'Simons bistro', 'Jytte Petersen', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark'),
(74, 'Spcialits du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France'),
(75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
(76, 'Suprmes dlices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium'),
(77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
(78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
(79, 'Toms Spezialitten', 'Karin Josephs', 'Luisenstr. 48', 'Mnster', '44087', 'Germany'),
(80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'Mxico D.F.', '05033', 'Mexico'),
(81, 'Tradio Hipermercados', 'Anabela Domingues', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil'),
(82, 'Trail\'s Head Gourmet Provisioners', 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
(83, 'Vaffeljernet', 'Palle Ibsen', 'Smagslget 45', 'rhus', '8200', 'Denmark'),
(84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France'),
(85, 'Vins et alcools Chevalier', 'Paul Henriot', '59 rue de l\'Abbaye', 'Reims', '51100', 'France'),
(86, 'Die Wandernde Kuh', 'Rita Mller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany'),
(87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland'),
(88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
(89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA'),
(90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland'),
(91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]

In [ ]:
qmark_dfCust=",".join('?'*colCount_dfCust) # placeholders SQL injection proof
c.executemany("INSERT INTO Customers VALUES ({})".format(qmark_dfCust),datCust)
#conn.commit()

In [ ]:
#ISSUE on Indefinte amount of placeholder (?,?,?) !!!...to resolve...!!! RESOVED ...see <qmark> or <dumbValues_qmark>
#empty table if not the case
c.execute("DELETE FROM `Customers`")
#insert values in table Categories
c.executemany("INSERT INTO `Customers` VALUES ({})".format(qmark_dfCust),datCust)
#c.executemany("INSERT INTO `Customers` VALUES (?,?,?)",datCust)
#conn.commit()

### step_4) Use written DJSc_procedure/function ```dumbValues()``` to dumb ```Customers``` values

In [ ]:
dumbValues_qmark('Customers', qmark_dfCust, datCust)

## Create ```Employees ``` table  & Dumb values

### step_1) Create table & Count Columns
```
#c.execute("DROP TABLE 'Employees' ") #Uncommemt once table created
c.execute("CREATE TABLE ' table_name' (...))
```
>TABLE `Employees` (
  `EmployeeID` int(11) NOT NULL,
  `LastName` varchar(255) DEFAULT NULL,
  `FirstName` varchar(255) DEFAULT NULL,
  `BirthDate` date DEFAULT NULL,
  `Photo` varchar(255) DEFAULT NULL,
  `Notes` text
)

```
dfEmp=pd.read_sql('SELECT * FROM Employees',conn)
dfEmp
```

```
colCount_dfEmp=len(dfEmp.columns)
colCount_dfEmp
```

In [ ]:
# c.execute("DROP TABLE 'Employees' ") #Uncommemt once table created
c.execute("CREATE TABLE 'Employees' ( EmployeeID int(11) NOT NULL, LastName varchar(255) DEFAULT NULL, FirstName varchar(255) DEFAULT NULL, BirthDate date DEFAULT NULL, Photo varchar(255) DEFAULT NULL, Notes text )")

In [ ]:
dfEmp=pd.read_sql('SELECT * FROM Employees',conn)
dfEmp

In [ ]:
colCount_dfEmp=len(dfEmp.columns)
colCount_dfEmp

###  step_2) Confirm table creation & retrieve qmark [i.e  amount of ```'?'``` at ```VALUES(?,?...,?)``` ]
```
c.execute("SELECT name from sqlite_master")
c.fetchall()
```
  qmark_dfEmp
```
qmark_Emp=",".join('?'*colCount_dfEmp) # placeholders SQL injection proof
qmark_Emp
```

In [ ]:
c.execute("SELECT name from sqlite_master")
c.fetchall()

In [ ]:
qmark_Emp=",".join('?'*colCount_dfEmp) # placeholders SQL injection proof
qmark_Emp

### step_3) Values to dumb
```
datEmp=[(`EmployeeID`, `LastName`, `FirstName`, `BirthDate`, `Photo`, `Notes`) VALUES
(1, 'Davolio', 'Nancy', '1968-12-08', 'EmpID1.pic', 'Education includes a BA in psychology from Colorado State University. She also completed (The Art of the Cold Call). Nancy is a member of \'Toastmasters International\'.'),
(2, 'Fuller', 'Andrew', '1952-02-19', 'EmpID2.pic', 'Andrew received his BTS commercial and a Ph.D. in international marketing from the University of Dallas. He is fluent in French and Italian and reads German. He joined the company as a sales representative, was promoted to sales manager and was then named vice president of sales. Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.'),
(3, 'Leverling', 'Janet', '1963-08-30', 'EmpID3.pic', 'Janet has a BS degree in chemistry from Boston College). She has also completed a certificate program in food retailing management. Janet was hired as a sales associate and was promoted to sales representative.'),
(4, 'Peacock', 'Margaret', '1958-09-19', 'EmpID4.pic', 'Margaret holds a BA in English literature from Concordia College and an MA from the American Institute of Culinary Arts. She was temporarily assigned to the London office before returning to her permanent post in Seattle.'),
(5, 'Buchanan', 'Steven', '1955-03-04', 'EmpID5.pic', 'Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree. Upon joining the company as a sales representative, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London, where he was promoted to sales manager. Mr. Buchanan has completed the courses \'Successful Telemarketing\' and \'International Sales Management\'. He is fluent in French.'),
(6, 'Suyama', 'Michael', '1963-07-02', 'EmpID6.pic', 'Michael is a graduate of Sussex University (MA, economics) and the University of California at Los Angeles (MBA, marketing). He has also taken the courses \'Multi-Cultural Selling\' and \'Time Management for the Sales Professional\'. He is fluent in Japanese and can read and write French, Portuguese, and Spanish.'),
(7, 'King', 'Robert', '1960-05-29', 'EmpID7.pic', 'Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan and then joining the company. After completing a course entitled \'Selling in Europe\', he was transferred to the London office.'),
(8, 'Callahan', 'Laura', '1958-01-09', 'EmpID8.pic', 'Laura received a BA in psychology from the University of Washington. She has also completed a course in business French. She reads and writes French.'),
(9, 'Dodsworth', 'Anne', '1969-07-02', 'EmpID9.pic', 'Anne has a BA degree in English from St. Lawrence College. She is fluent in French and German.'),
(10, 'West', 'Adam', '1928-09-19', 'EmpID10.pic', 'An old chum.')]
```

In [ ]:
# step_3) Values to dumb
datEmp=[(1, 'Davolio', 'Nancy', '1968-12-08', 'EmpID1.pic', 'Education includes a BA in psychology from Colorado State University. She also completed (The Art of the Cold Call). Nancy is a member of \'Toastmasters International\'.'),
(2, 'Fuller', 'Andrew', '1952-02-19', 'EmpID2.pic', 'Andrew received his BTS commercial and a Ph.D. in international marketing from the University of Dallas. He is fluent in French and Italian and reads German. He joined the company as a sales representative, was promoted to sales manager and was then named vice president of sales. Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.'),
(3, 'Leverling', 'Janet', '1963-08-30', 'EmpID3.pic', 'Janet has a BS degree in chemistry from Boston College). She has also completed a certificate program in food retailing management. Janet was hired as a sales associate and was promoted to sales representative.'),
(4, 'Peacock', 'Margaret', '1958-09-19', 'EmpID4.pic', 'Margaret holds a BA in English literature from Concordia College and an MA from the American Institute of Culinary Arts. She was temporarily assigned to the London office before returning to her permanent post in Seattle.'),
(5, 'Buchanan', 'Steven', '1955-03-04', 'EmpID5.pic', 'Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree. Upon joining the company as a sales representative, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London, where he was promoted to sales manager. Mr. Buchanan has completed the courses \'Successful Telemarketing\' and \'International Sales Management\'. He is fluent in French.'),
(6, 'Suyama', 'Michael', '1963-07-02', 'EmpID6.pic', 'Michael is a graduate of Sussex University (MA, economics) and the University of California at Los Angeles (MBA, marketing). He has also taken the courses \'Multi-Cultural Selling\' and \'Time Management for the Sales Professional\'. He is fluent in Japanese and can read and write French, Portuguese, and Spanish.'),
(7, 'King', 'Robert', '1960-05-29', 'EmpID7.pic', 'Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan and then joining the company. After completing a course entitled \'Selling in Europe\', he was transferred to the London office.'),
(8, 'Callahan', 'Laura', '1958-01-09', 'EmpID8.pic', 'Laura received a BA in psychology from the University of Washington. She has also completed a course in business French. She reads and writes French.'),
(9, 'Dodsworth', 'Anne', '1969-07-02', 'EmpID9.pic', 'Anne has a BA degree in English from St. Lawrence College. She is fluent in French and German.'),
(10, 'West', 'Adam', '1928-09-19', 'EmpID10.pic', 'An old chum.')]


### step_4) Use written DJSc_procedure/function ```dumbValues_qmark()``` to dumb values
```
# Written DJSc_procedure to dumb values (with qmark)
def dumbValues_qmark(table_name,qmark, dat_table):
  c.execute("DELETE FROM `"+table_name+"`") # syntax for table_Name as parameter/argumenjt in function/procedure
  #empty table if not the case
  c.execute("DELETE FROM "+table_name+"")
  #insert values in table table_name
  c.executemany("INSERT INTO "+table_name+" VALUES ({})".format(qmark), dat_table)
  conn.commit()
  dfTab=pd.read_sql("SELECT * FROM "+table_name+"",conn)
  return dfTab
  ```

In [ ]:
dumbValues_qmark('Employees', qmark_Emp, datEmp)

## Create ```!!!! ``` table  & Dumb values
step_1) Create table
```
#c.execute("DROP TABLE 'Employees' ") #Uncommemt once table created
c.execute("CREATE TABLE ' table_name' (...))
```
>TABLE `Employees` (
  `EmployeeID` int(11) NOT NULL,
  `LastName` varchar(255) DEFAULT NULL,
  `FirstName` varchar(255) DEFAULT NULL,
  `BirthDate` date DEFAULT NULL,
  `Photo` varchar(255) DEFAULT NULL,
  `Notes` text
)


step_2) Confirm table creation
```
c.execute("SELECT name from squilte_master")
c.fetchall()
```

step_3) Values to dumb
```
datTab=[(...),...,(...)]
```

step_4) Use written DJSc_procedure/function ```dumbValues()``` to dumb ```table_name``` values
```
def dumbValues(table_name, dat_table):
  c.execute("DELETE FROM `"+table_name+"`") # syntax for table_Name as parameter/argumenjt in function/procedure
  #empty table if not the case
  c.execute("DELETE FROM "+table_name+"")
  #insert values in table table_name
  c.executemany("INSERT INTO "+table_name+" VALUES (?,?,?)", dat_table)
  conn.commit()
  dfTab=pd.read_sql("SELECT * FROM "+table_name+"",conn)
  return dfTab
  ```

## Create ``` !!!!!!``` table  & Dumb values
step_1) Create table
```
#c.execute("DROP TABLE 'Employees' ") #Uncommemt once table created
c.execute("CREATE TABLE ' table_name' (...))
```
>TABLE `Employees` (
  `EmployeeID` int(11) NOT NULL,
  `LastName` varchar(255) DEFAULT NULL,
  `FirstName` varchar(255) DEFAULT NULL,
  `BirthDate` date DEFAULT NULL,
  `Photo` varchar(255) DEFAULT NULL,
  `Notes` text
)

```
df!!!=pd.read_sql('SELECT * FROM !!!!',conn)
df!!!
```

```
colCount_df!!!=len(df!!!.columns)
colCount_dfEmp
```


step_2) Confirm table creation & retrieve qmark [i.e  amount of ```'?'``` at ```VALUES(?,?...,?)``` ]
```
c.execute("SELECT name from squilte_master")
c.fetchall()
```
  qmark_df!!!
```
qmark_!!!=",".join('?'*colCount_df!!!) # placeholders SQL injection proof
qmark_!!!
```

step_3) Values to dumb
```
dat!!!=[(...),...,(...)]
```

step_4) Use written DJSc_procedure/function ```dumbValues_qmark()``` to dumb values
```
# Written DJSc_procedure to dumb values (with qmark)
def dumbValues_qmark(table_name,qmark, dat_table):
  c.execute("DELETE FROM `"+table_name+"`") # syntax for table_Name as parameter/argumenjt in function/procedure
  #empty table if not the case
  c.execute("DELETE FROM "+table_name+"")
  #insert values in table table_name
  c.executemany("INSERT INTO "+table_name+" VALUES ({})".format(qmark), dat_table)
  conn.commit()
  dfTab=pd.read_sql("SELECT * FROM "+table_name+"",conn)
  return dfTab
  ```

## Create ```!!!!! ``` table  & Dumb values
step_1) Create table & Count Columns
```
#c.execute("DROP TABLE '!!!' ") #Uncommemt once table created
c.execute("CREATE TABLE ' table_name' (...))
```
>TABLE `Employees` (
  `EmployeeID` int(11) NOT NULL,
  `LastName` varchar(255) DEFAULT NULL,
  `FirstName` varchar(255) DEFAULT NULL,
  `BirthDate` date DEFAULT NULL,
  `Photo` varchar(255) DEFAULT NULL,
  `Notes` text
)


```
df!!!=pd.read_sql('SELECT * FROM !!!!',conn)
df!!!
```

```
colCount_df!!!=len(df!!!.columns)
colCount_dfEmp
```


step_2) Confirm table creation & retrieve qmark [i.e  amount of ```'?'``` at ```VALUES(?,?...,?)``` ]
```
c.execute("SELECT name from squilte_master")
c.fetchall()
```
  qmark_df!!!
```
qmark_!!!=",".join('?'*colCount_df!!!) # placeholders SQL injection proof
qmark_!!!
```

step_3) Values to dumb
```
dat!!!=[(...),...,(...)]
```

step_4) Use written DJSc_procedure/function ```dumbValues_qmark()``` to dumb values
```
# Written DJSc_procedure to dumb values (with qmark)
def dumbValues_qmark(table_name,qmark, dat_table):
  c.execute("DELETE FROM `"+table_name+"`") # syntax for table_Name as parameter/argumenjt in function/procedure
  #empty table if not the case
  c.execute("DELETE FROM "+table_name+"")
  #insert values in table table_name
  c.executemany("INSERT INTO "+table_name+" VALUES ({})".format(qmark), dat_table)
  conn.commit()
  dfTab=pd.read_sql("SELECT * FROM "+table_name+"",conn)
  return dfTab
  ```

# Variable number of placeholders (?) qmark style
https://stackoverflow.com/questions/32101869/safe-insert-with-a-variable-number-of-placeholders

#Pandas.read_sql()
https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html

Read data from SQL via either a SQL query or a SQL tablename. When using a SQLite database only SQL queries are accepted, providing only the SQL tablename will result in an error.
```
from sqlite3 import connect
conn = connect(':memory:')
df = pd.DataFrame(data=[[0, '10/11/12'], [1, '12/11/10']],
      columns=['int_column', 'date_column'])
      df.to_sql(name='test_data', con=conn)       
      pd.read_sql('SELECT int_column, date_column FROM test_data', conn)
 ```
```
                     int_column date_column
                     0           0    10/11/12
                     1           1    12/11/10
                     pd.read_sql('test_data', 'postgres:///db_name')
```
Apply date parsing to columns through the parse_dates argument The parse_dates argument calls pd.to_datetime on the provided columns. Custom argument values for applying pd.to_datetime on a column are specified via a dictionary format:

                     pd.read_sql('SELECT int_column, date_column FROM test_data',
                                 conn,
                                             parse_dates={"date_column": {"format": "%d/%m/%y"}})
                                                int_column date_column
                                                0           0  2012-11-10
                                                1           1  2010-11-12
                                                Added in version 2.2.0: pandas now supports reading via ADBC drivers

      from adbc_driver_postgresql import dbapi  
           with dbapi.connect('postgres:///db_name') as conn:  
                pd.read_sql('SELECT int_column FROM test_data', conn)
```
                                                       int_column
                                                       0           0
                                                       1           1
  ```

f#SQLite3
https://docs.python.org/3/library/sqlite3.html

First, we need to create a new database and open a database connection to allow sqlite3 to work with it. Call sqlite3.connect() to create a connection to the database tutorial.db in the current working directory, implicitly creating it if it does not exist:

import sqlite3
con = sqlite3.connect("tutorial.db")
The returned Connection object con represents the connection to the on-disk database.

In order to execute SQL statements and fetch results from SQL queries, we will need to use a database cursor. Call con.cursor() to create the Cursor:

cur = con.cursor()
Now that weve got a database connection and a cursor, we can create a database table movie with columns for title, release year, and review score. For simplicity, we can just use column names in the table declaration  thanks to the flexible typing feature of SQLite, specifying the data types is optional. Execute the CREATE TABLE statement by calling cur.execute(...):

cur.execute("CREATE TABLE movie(title, year, score)")
We can verify that the new table has been created by querying the sqlite_master table built-in to SQLite, which should now contain an entry for the movie table definition (see The Schema Table for details). Execute that query by calling cur.execute(...), assign the result to res, and call res.fetchone() to fetch the resulting row:

>>>
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()
```
('movie',)
```

We can see that the table has been created, as the query returns a tuple containing the tables name. If we query sqlite_master for a non-existent table spam, res.fetchone() will return None:

>>>
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None
True


Now, insert three more rows by calling cur.executemany(...):

data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.
Notice that ? placeholders are used to bind data to the query. Always use placeholders instead of string formatting to bind Python values to SQL statements, to avoid SQL injection attacks (see How to use placeholders to bind values in SQL queries for more details).

We can verify that the new rows were inserted by executing a SELECT query, this time iterating over the results of the query: